.box{
    background-color:#e0e0e0;
    padding: 20px;
    border: 1px solid #bdbdbd;
    margin:10px;
}
 .grey{
    color: silver;
}

 .floatleft{
    float: left;
}

.floatright{
    float: right;
}

.wrapper{
    width: 100%;
}
.text p{
    size: 5px;
    text-indent: 2px;
}
.close{
    float:right;
    font-weight: bold;
    text-decoration:none;
    font-size: 20px;
    color:inherit;
    padding-bottom: 15px;
}